{% extends 'base.html'%}
{% block content %}
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal">Show me 期限</p>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="{% url 'logout' %}">ログアウト</a>
        <a href="{% url 'create' %}" button type="button" class="btn btn-primary">食品を追加する</a>
    </nav>
</header>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">食品名</th>
                <th scope="col">賞味期限</th>
                <th scope="col">数量</th>
                <th scope="col" style="width: 15%">数量を減らす</th>
                <th scope="col" style="width: 15%">削除する</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foods %}            
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.deadline }}</td>
                    {%if food.quantity == None %}
                        <td>　</td>
                        <td>　</td>
                    {% else %}
                        <td>{{ food.quantity }}</td>
                        <td><a href="{% url 'minus' food.pk %}" method="POST"　button type="button"　class="btn btn-primary">{% csrf_token %}-</a></td>
                    {% endif %}
                    <td><a href="{% url 'delete' food.pk %}" button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" >削除</a></td>                    
                </tr>
            {% endfor %}
        </tbody>   
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">削除確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
          <form action="" method="POST">
              {% csrf_token %}
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">削除</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
