{% extends 'base.html'%}
{% block content %}
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal">Show me 期限</p>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="{% url 'login' %}">ログイン</a>
    </nav>
</header>

<main class="px-3">
    <h1>Show me 期限へようこそ！</h1>
    <p class="lead">Show me 期限は食材やお菓子などの賞味期限を簡単に管理することができるサイトです。</p>
    <p class="lead">賞味期限のほかに食べ物の数量を追加することもできるので、Show　me 期限を使えば卵を買い忘れることは一生ありません！</p>
    <a href="{% url 'signup' %}" class="btn btn-lg btn-info fw-bold border-white bg-white">ユーザー登録する</a>
    </p>
</main>
{% endblock content %}